<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gallery{% endblock %}</title>
        <link rel="stylesheet" href="/css/site.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="container mx-auto mb-4 text-4xl">
            <h1>{{ block('title') }}</h1>
        </header>

        <main class="container mx-auto">
            {% block body %}{% endblock %}
        </main>
        {% block javascripts %}{% endblock %}
    </body>
</html>
