{% extends 'base.html.twig' %}

{% block title %}Gallery{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <header class="mb-4 text-4xl">
            <h1>Gallery</h1>
        </header>

        <ul class="grid grid-cols-4">
            {% for image in images %}
                <li class="photo bg-white rounded shadow m-1 overflow-hidden p-3 text-center">
                    <img class="lazy" src="" alt="{{ image.title }}" data-src="{{ vich_uploader_asset(image) }}">
                    <h2 class="text-lg">{{ image.title }}</h2>
                    <p>{{ image.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.1.1/dist/lazyload.min.js"></script>
    <script>
        const lazyLoadInstance = new LazyLoad({
            elements_selector: ".lazy",
        });
    </script>
{% endblock %}
